#home{
    width: 100%;
    height: 100vh;
    display: flex;
}

.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 10px;
}

.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.righthome img{
    width: 60%;
}

.homedetails{
    font-size: 2vmax;
}

.line1{
    font-size: 0.8em;
}

.line2{
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(0, 255, 213) , rgb(220, 248, 246));
    background-clip: text;
    color: transparent;
}

.line3{
    font-size: 1em;
}

@media (max-width:750px){
    #home{
        flex-direction:column-reverse;
    }
    .lefthome{
        width: 100%;
        height: 50vh;
    }
    .righthome{
        width: 100%;
        height: 50vh;
        align-items: end;
    }
}